.userMargin {
  margin: 20px;
}

.badge {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

.justify-content-md-left {
  margin-left: 20px;
}

.userLink {
  color: black;
}

.userLink:hover {
  color: black;
}

.userLink:active {
  color: grey;
}
